@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light typographic defaults */
:root {
  --content-max: 72ch;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

